{% extends 'base.html' %}

{% block title %}Dodaj Drużynę{% endblock %}

{% block content %}
<div class="container mx-auto p-4">
    <div class="bg-white shadow-md rounded-lg p-6 max-w-lg mx-auto border-2 border-solid border-primary/25">
        <h1 class="text-2xl font-bold mb-6 text-center text-gray-800">Nowa Drużyna</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="mb-4">
                <div>
                <p for="id_name" class="block text-sm font-medium text-gray-700">Nazwa drużyny:</p>
                </div>
                <div class="w-full border-2 border-solid border-gray-300 rounded-md shadow-sm">
                {{ form.name }}
                </div>
            </div>
            <div class="mb-4">
                <div>
                    <label for="id_logo" class="block text-sm font-medium text-gray-700">Logo drużyny:</label>
                </div>
                <div class="w-full border-2 border-solid border-gray-300 rounded-md shadow-sm">
                    <input type="file" name="logo" id="id_logo" accept="image/*">
                </div>
            </div>
            <button type="submit" class="w-full bg-primary text-white py-2 rounded-md shadow hover:bg-primary/90 transition-colors">
                Zapisz
            </button>
        </form>
    </div>
</div>
{% endblock %}