{% extends 'base.html' %}

{% block title %}Dodaj Drużynę{% endblock %}

{% block content %}
<div class="container mx-auto p-4">
    <div class="bg-white shadow-md rounded-lg p-6 max-w-lg mx-auto">
        <h1 class="text-2xl font-bold mb-6 text-center text-gray-800">Dodaj Drużynę</h1>
        <form method="post" enctype="multipart/form-data" class="space-y-6">
            {% csrf_token %}
            <div class="space-y-6">
                {% for field in form %}
                <div class="space-y-2">
                    <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-gray-700">
                        {% if field.label == "Name" %}Nazwa{% else %}{{ field.label }}{% endif %}
                    </label>

                    {{ field }}

                    {% if field.errors %}
                    <p class="text-sm text-red-600 mt-1">{{ field.errors }}</p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <div class="flex justify-end">
                <button type="submit" class="bg-primary text-white px-6 py-2 rounded-md shadow hover:bg-primary/90">
                    Zapisz
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}