{% extends 'base.html' %}
{% load static %}

{% block title %}Lista Meczów{% endblock %}

{% block content %}
<div class="container mx-auto p-4">
    <h1 class="text-2xl font-bold mb-4 text-center text-gray-800">Lista Meczów</h1>
    <!--Filtrowanie po druzynie i dacie-->
    <div class="bg-white shadow-md float-right w-1/5 mb-4 ml-5 mx-auto p-4 border-2 border-solid border-primary/25 rounded-lg overflow-hidden">
        <form method="get" class="mb-6">
            <label class="block text-sm font-medium text-gray-700 mb-2">Filtruj po drużynie:</label>
            <div class="space-y-2">
                {% for team in all_teams %}
                <div class="flex items-center">
                    <input type="checkbox" name="team" value="{{ team.team_id }}" id="team_{{ team.team_id }}"
                           class="h-4 w-4 text-primary border-gray-300 rounded focus:ring-primary"
                           {% if team.team_id|stringformat:"s" in selected_teams %}checked{% endif %}>
                    <label for="team_{{ team.team_id }}" class="ml-2 text-sm text-gray-700">
                        {{ team.name }}
                    </label>
                </div>
                {% endfor %}
            </div>
            <label class="block text-sm font-medium text-gray-700 mt-4">Filtruj po dacie meczu:
            <input type="date" name="match_date" value="{{ match_date }}" class="block w-full mt-2 p-1 border rounded">
            </label>
            <button type="submit" class="mt-4 bg-primary text-white px-4 py-2 rounded-md shadow hover:bg-primary/90">Filtruj</button>
        </form>
    </div>
    <div class="space-y-4">
        {% for match in page_obj %}
<div class="bg-white shadow-md w-9/12 text-center border-2 border-solid border-primary/25 rounded-lg p-4 hover:bg-gray-100 cursor-pointer mr-5"
     onclick="window.location='{% url 'match_detail' match.match_id %}'">
    <p class="text-sm text-gray-600">{{ match.league.name }}</p>
    <div class="flex justify-between items-center text-center">
        <div class="flex flex-col items-center w-1/4">
            {% if match.team_1.logo %}
                <img src="{{ match.team_1.logo.url }}" alt="Logo {{ match.team_1.name }}" class="w-30 h-20 object-cover mx-auto mb-1">
            {% else %}
                <img src="{% static 'images/none.png' %}" alt="Brak loga" class="w-20 h-14 object-cover mx-auto mb-1">
            {% endif %}
            <p class="text-lg font-semibold text-gray-800">{{ match.team_1.name }}</p>
        </div>
        <div class="w-1/6 flex flex-col items-center">
            <p class="text-3xl font-bold text-gray-600">
                {{ match.score_team_1 }} : {{ match.score_team_2 }}
            </p>
            <p class="text-xs mt-1">
                {% if match.is_finished %}
                    <span class="text-green-700 font-semibold">Zakończony</span>
                {% elif match.match_date > today %}
                    <span class="text-blue-700 font-semibold">Zaplanowany</span>
                {% elif match.match_date == today and match.match_time > now %}
                    <span class="text-blue-700 font-semibold">Zaplanowany</span>
                {% else %}
                    <span class="text-yellow-600 font-semibold">W trakcie</span>
                {% endif %}
            </p>
        </div>
        <div class="flex flex-col items-center w-1/4">
            {% if match.team_2.logo %}
                <img src="{{ match.team_2.logo.url }}" alt="Logo {{ match.team_2.name }}" class="w-30 h-20 object-cover mx-auto mb-1">
            {% else %}
                <img src="{% static 'images/none.png' %}" alt="Brak loga" class="w-20 h-14 object-cover mx-auto mb-1">
            {% endif %}
            <p class="text-lg font-semibold text-gray-800">{{ match.team_2.name }}</p>
        </div>
    </div>
    <p class="text-sm text-gray-600">{{ match.match_date|date:"d M Y" }} | {{ match.match_time|time:"H:i" }}</p>
</div>
{% endfor %}
    </div>
    <!-- PAGINACJA -->
    <div class="flex justify-center mt-6">
        <nav class="inline-flex">
            {% if page_obj.has_previous %}
                <a href="?{% if selected_teams %}{% for t in selected_teams %}team={{ t }}&{% endfor %}{% endif %}{% if match_date %}match_date={{ match_date }}&{% endif %}page={{ page_obj.previous_page_number }}" class="px-3 py-1 bg-gray-200 rounded-l hover:bg-gray-300">Poprzednia</a>
            {% else %}
                <span class="px-3 py-1 bg-gray-100 rounded-l text-gray-400 cursor-not-allowed">Poprzednia</span>
            {% endif %}
            <span class="px-3 py-1 bg-primary text-white">{{ page_obj.number }}</span>
            {% if page_obj.has_next %}
                <a href="?{% if selected_teams %}{% for t in selected_teams %}team={{ t }}&{% endfor %}{% endif %}{% if match_date %}match_date={{ match_date }}&{% endif %}page={{ page_obj.next_page_number }}" class="px-3 py-1 bg-gray-200 rounded-r hover:bg-gray-300">Następna</a>
            {% else %}
                <span class="px-3 py-1 bg-gray-100 rounded-r text-gray-400 cursor-not-allowed">Następna</span>
            {% endif %}
        </nav>
    </div>
</div>
<div class="flex justify-end mt-6 pt-4 border-t border-gray-200 px-4 space-x-2">
    {% if user.is_authenticated %}
        <a href="{% url 'add_match' %}" class="bg-primary text-white px-4 py-2 rounded-md shadow hover:bg-primary/90">Dodaj Mecz</a>
        {% if user.is_organizer %}
            <a href="{% url 'generate_matches' %}" class="bg-green-600 text-white px-4 py-2 rounded-md shadow hover:bg-green-700">Generuj mecze dla ligi</a>
        {% endif %}
    {% endif %}
</div>
{% endblock %}