{% extends 'base.html' %}

{% block title %}Lista Meczów{% endblock %}

{% block content %}
<div class="container mx-auto p-4">
    <h1 class="text-2xl font-bold mb-4 text-center text-gray-800">Lista Meczów</h1>
    <!--Filtrowanie po druzynie i dacie-->
    <div class="bg-white shadow-md float-right w-1/5 mb-4 ml-5 mx-auto p-4 border-2 border-solid border-primary/25 rounded-lg overflow-hidden">
        <form method="get" class="mb-6">
            <label class="block text-sm font-medium text-gray-700 mb-2">Filtruj po drużynie:</label>
            <div class="space-y-2">
                {% for team in all_teams %}
                <div class="flex items-center">
                    <input type="checkbox" name="team" value="{{ team.team_id }}" id="team_{{ team.team_id }}"
                           class="h-4 w-4 text-primary border-gray-300 rounded focus:ring-primary"
                           {% if team.team_id|stringformat:"s" in selected_teams %}checked{% endif %}>
                    <label for="team_{{ team.team_id }}" class="ml-2 text-sm text-gray-700">
                        {{ team.name }}
                    </label>
                </div>
                {% endfor %}
            </div>
            <label class="block text-sm font-medium text-gray-700 mt-4">Filtruj po dacie meczu:
            <input type="date" name="match_date" value="{{ match_date }}" class="block w-full mt-2 p-1 border rounded">
            </label>
            <button type="submit" class="mt-4 bg-primary text-white px-4 py-2 rounded-md shadow hover:bg-primary/90">Filtruj</button>
        </form>
    </div>
    <div class="space-y-4">
        {% for match in matches %}
        <div class="bg-white shadow-md w-9/12 border-2 border-solid border-primary/25 rounded-lg p-4 hover:bg-gray-100 cursor-pointer mr-5"
             onclick="window.location='{% url 'match_detail' match.match_id %}'">
            <div class="flex justify-between items-center">
                <div>
                    <p class="text-lg font-semibold text-gray-800">{{ match.team_1.name }} vs {{ match.team_2.name }}</p>
                    <p class="text-sm text-gray-600">{{ match.match_date|date:"d M Y" }} | {{ match.match_time|time:"H:i" }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="flex justify-end mt-6 pt-4 border-t border-gray-200 px-4">
    {% if user.is_authenticated %}
        <a href="{% url 'add_match' %}" class="bg-primary text-white px-4 py-2 rounded-md shadow hover:bg-primary/90">Dodaj Mecz</a>
    {% endif %}
</div>
{% endblock %}