{% extends 'base.html' %}

{% block title %}Lista Piłkarzy{% endblock %}

{% block content %}
<div class="container mx-auto p-4">
    <h1 class="text-2xl font-bold mb-4 text-center text-gray-800">Lista Piłkarzy</h1>
    <div class="bg-white shadow-md float-right w-1/5 mb-4 ml-10 mx-auto p-4 border-2 border-solid border-primary/25 rounded-lg overflow-hidden">
        <!-- Sekcja filtrowania -->
        <form method="get" id="filter-form" class="mb-4">
            <div class="space-y-6">
                <!-- Filtrowanie po pozycji -->
                <div>
                    <h3 class="text-lg font-semibold mb-2">Filtruj po pozycji:</h3>
                    <div class="flex flex-wrap gap-6">
                        {% for position in all_positions %}
                            <label class="flex items-center space-x-2">
                                <input type="checkbox" name="position" value="{{ position }}" {% if position in selected_positions %}checked{% endif %} class="form-checkbox h-5 w-5 text-primary border-gray-300 rounded focus:ring-primary">
                                <span class="text-gray-700">{{ position }}</span>
                            </label>
                        {% endfor %}
                    </div>
                </div>

                <!-- Filtrowanie po drużynie -->
                <div>
                    <h3 class="text-lg font-semibold mb-2">Filtruj po drużynie:</h3>
                    <div class="flex flex-wrap gap-4">
                        {% for team in all_teams %}
                            <label class="flex items-center space-x-2">
                                <input type="checkbox" name="team" value="{{ team.team_id }}"{% if team.team_id|slugify in selected_teams %}checked{% endif %} class="form-checkbox h-5 w-5 text-primary border-gray-300 rounded focus:ring-primary">
                                <span class="text-gray-700">{{ team.name }}</span>
                            </label>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <button type="submit" class="mt-4 bg-primary text-white px-4 py-2 rounded-md shadow hover:bg-primary/90">
                Zastosuj filtry
            </button>
        </form>
    </div>
       <!-- Lista piłkarzy jako divy -->
    <div class="space-y-4">
        {% for player in players %}
        <div class="bg-white shadow-md w-9/12 rounded-lg p-4 border-2 border-solid border-primary/25 hover:bg-gray-100 cursor-pointer mr-5"
             onclick="window.location='{% url 'player_detail' player.player_id %}'">
            <div class="flex justify-between items-center">
                <div>
                    <p class="text-lg font-semibold text-gray-800">{{ player.first_name }} {{ player.last_name }}</p>
                    <p class="text-sm text-gray-600">{{ player.position }}</p>
                </div>
                <div>
                    <p class="text-sm text-gray-600">{{ player.team.name }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="flex justify-end mt-6 pt-4 border-t border-gray-200 px-4">
            {% if user.is_authenticated %}
            <a href="{% url 'add_player' %}" class="bg-primary text-white px-4 py-2 rounded-md shadow hover:bg-primary/90">Dodaj Piłkarza</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
</div>